<form class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
        <input type="text" class="form-control" id="inputPassword2" placeholder="50" style="width: 60px;" disabled>
    </div>
    <input type="number" class="form-control" id="inputPassword2" placeholder="1" style="width: 80px;">

    <div class="form-group mx-sm-3 mb-2">
        <input type="text" class="form-control" id="inputPassword2" placeholder="30" style="width: 60px;" disabled>
    </div>
    <input type="number" class="form-control" id="inputPassword2" placeholder="2" style="width: 80px;">

    <div class="form-group mx-sm-3 mb-2">
        <input type="text" class="form-control" id="inputPassword2" placeholder="10" style="width: 60px;" disabled>
    </div>
    <input type="number" class="form-control" id="inputPassword2" placeholder="20" style="width: 80px;">

    <div class="form-group mx-sm-3 mb-2">
        <input type="text" class="form-control" id="inputPassword2" placeholder="50" style="width: 60px;" disabled>
    </div>
    <input type="number" class="form-control" id="inputPassword2" placeholder="1" style="width: 80px;">

    <div class="form-group mx-sm-3 mb-2">
        <input type="text" class="form-control" id="inputPassword2" placeholder="100" style="width: 60px;" disabled>
    </div>
    <input type="number" class="form-control" id="inputPassword2" placeholder="2" style="width: 80px;">
</form>