<!--The content below is only a placeholder and can be replaced.-->
<div class="container" style="padding: 90px 0;">
    <div class="card">
        <h5 class="card-header">
            Supply-R Parking Payment Machine
        </h5>
        <div class="card-body">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <app-quantity-money></app-quantity-money>
                    </li>
                    <li class="list-group-item">
                        <div>
                            <app-activity></app-activity>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>